
#menu-posts-digitizer div.wp-menu-image::before{
	content: '\f538';
}
/**
*	The Widgets
*/
li.widget{z-index:1001;}


/**
*	Available Widgets
*/
#widget_list .widget-title-action{display:none;}

/**
*	Current Widgets
*
#digit_sortable .widget{position:relative!important;left:0!important;top:0!important;} */
#digit_sortable{min-height:45px;}

#digit_sortable .widget-inside{padding: 0 1rem 1rem;}
/*
	Widget Action Toggles.
*/

/* Arrows */
/* Level One */
#digit_sortable .widget .widget-action::after{content:"\f140";}
#digit_sortable .widget.active .widget-action::after{content:"\f142";}
/* Level Two */
#digit_sortable .widget .digit_area .widget .widget-top .widget-title-action .widget-action::after{content:"\f140";}
#digit_sortable .widget .digit_area .widget.active .widget-top .widget-title-action .widget-action::after{content:"\f142";}
/* Level Three */
#digit_sortable .widget .digit_area .widget .digit_area .widget .widget-top .widget-title-action .widget-action::after{content:"\f140";}
#digit_sortable .widget .digit_area .widget .digit_area .widget.active .widget-top .widget-title-action .widget-action::after{content:"\f142";}


#digit_sortable li.widget{z-index:1000;}


.drop_zone:after{
	content: '';
	width: 100%;
	display:block;
	height:46px;
	border:3px lightgray dashed;
	box-sizing:border-box;
}

.hover_zone:after{
	content: '';
	width: 100%;
	display:block;
	height:46px;
	border:3px lightgray dashed;
	box-sizing:border-box;
	background:#CCF2FF;
}

.digit-delete, .digit-close{color:#0073aa; text-decoration: underline; cursor:pointer;}
.digit-delete:hover{color:red; text-decoration: underline; cursor: pointer;}

.ui-sortable-helper{z-index: 1009!important;}

.digit_dd{
	margin-bottom: 0.3rem;
	display: block;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	top: 0px;
	text-align: right;
}

.digit_dd::after{    display: inline-block;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	border: 1px solid;
	padding: 0.10rem 0.25rem;
	border-radius: 2px;
	background:#F1F1F1;
}

.digit_dd::after{content:"\f472";}

.ddd-button{ color: #C5C5C5; }
.ddd-button.active{color: #0073aa;}
.ddd-close{top: 0px; color: #0073aa;}

.digit_dd-panel{
	display:none;
	border: 1px solid #E5E5E5;
	padding: 0.5rem 1rem 1rem;
	box-sizing: border-box;
	width: 100%;
	background: #FAFAFA;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.digit_dd-panel h4{margin: 0 0 0.5rem;}

.widget-form{position:relative; padding-top: 0.5rem;}



.digit_lock{
	margin-bottom: 0.3rem;
	display: block;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	top: 0px;
	text-align: right;
	right:30px;
}

.digit_lock::after{    display: inline-block;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	border: 1px solid;
	padding: 0.10rem 0.25rem;
	border-radius: 2px;
	background:#F1F1F1;
}

.digit_lock::after{content:"\f112";}

.lock-button{ color: #C5C5C5; }
.lock-button.active{color: #0073aa;}
.lock-close{top: 0px; color: #0073aa;}

.digit_lock-panel{
	display:none;
	border: 1px solid #E5E5E5;
	padding: 0.5rem 1rem 1rem;
	box-sizing: border-box;
	width: 100%;
	background: #FAFAFA;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.digit_lock-panel h4{margin: 0 0 0.5rem;}

.digit-options{top: 8px;
	position: absolute;
	width: 100%;}

.digit-options.active-options{ }


/* ADMIN PANEL*/
.column_widget, .column_widget--inner{width:50%; float:left; display:block;}
@media(max-width: 1200px){
	.column_widget--inner{width:100%;}
}
@media(max-width: 700px){
	.column_widget{width:100%;}
}

#onnet_digit .postbox{background:none; border:none;}
#onnet_digit .form-table th{ width: 100%;  height: 20px;  line-height: 20px;  margin: 0;  padding: 0;  display: block;}
#onnet_digit .form-table td{width:100%; float:left;}
.widget-exclude{float:left; width:100%; padding: 0 1rem;}

.widget-exclude .active{display:block; width:100%; padding:1rem; box-sizing: border-box;}
.widget-exclude.opacity-widget{opacity:0.3;}
.widget-exclude:hover{opacity:1;}

.digit-post-types{ line-height:1.7;  font-weight: bold;  text-transform: capitalize;}
@media(max-width:780px){
	.digit-post-types{ line-height:2.2;}
}
.digit-post-types input{ background:white;}

.temp_widget .spinner.is-active{position: absolute;  right: 4px;  top: 9px;}

.wysiwyg_block{ border:none}
.wysiwyg_block .mce-tinymce{ border:1px solid #e5e5e5;}
